* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    color: #D3FFE9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5vh 1rem 0 1rem;
    text-transform: uppercase;
    text-shadow: 0 5px 8px #000000;
}

body {
    background: #4B5043;
}

button {
    box-shadow: 0 5px 10px #000000;
}

.col {
    padding: 5vh 0 2vh;
}

.input-group {
    padding: 1rem;
}

.input-group-text {
    background: #8DDBE0;
    border: .2rem outset #ffffff;
    box-shadow: 0 5px 10px #000000;
}

.dur-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .2rem;
    text-shadow: 0 8px 14px #000000;
}